* {
  padding: 0;
  margin: 0;
}

body {
  margin: 1em 9em;
  max-width: 1440px;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}
body .main-container {
  display: flex;
  justify-content: space-between;
}
body .main-container .main-header {
  width: 50%;
}
body .header {
  width: 70%;
}
body .header .main-title {
  color: #502050;
  font-size: 3.5em;
  text-align: left;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.2em;
  line-height: 60px;
}
body .content {
  margin-bottom: 2.5em;
  width: 80%;
}
body .content .content-paragraph {
  font-size: 16px;
  font-weight: 500;
  color: #937b92;
  line-height: 25px;
}
body .grid-container {
  display: grid;
  grid-template-columns: 5em 5em 5em 5em 5em 5em 5em 5em;
  grid-template-rows: 5em 5em 5em;
  margin-top: 7.5em;
}
body .rating-section {
  display: flex;
  align-items: center;
  background-color: #f7f2f7;
  margin-bottom: 1em;
  padding: 1em 1.5em;
  border-radius: 10px;
}
body .rating-section p {
  margin-left: 0.7em;
  color: #502050;
  font-weight: 700;
}
body .colunm1 {
  grid-column: 1/6;
}
body .colunm2 {
  grid-column: 2/8;
}
body .colunm3 {
  grid-column: 3/9;
}
body .section-buyer-review {
  margin-top: 2.5em;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 25.61em 2em 25.61em 2em 25.61em;
  grid-template-rows: 2em 2em 2em 2em 2em 2em 2em 2em 2em 2em 2em;
}
body .buyer-review {
  background-color: #502050;
  padding: 2.5em 2.1em;
  margin-bottom: 1em;
  border-radius: 10px;
}
body .buyer-review .name-buyer {
  display: flex;
  align-items: center;
  margin-bottom: 1.7em;
}
body .buyer-review .name-buyer img {
  border-radius: 50%;
  width: 42px;
  margin-right: 25px;
}
body .buyer-review .name-buyer .text-container .white-text {
  color: white;
}
body .buyer-review .name-buyer .text-container .pink-text {
  color: #ee68a4;
  opacity: 0.5;
  font-weight: 300;
}
body .buyer-review .main-content-white {
  color: white;
  opacity: 0.8;
  line-height: 25px;
}
body .first {
  grid-row: 1/10;
}
body .second {
  grid-column: 3/4;
  grid-row: 2/11;
}
body .third {
  grid-column: 5/5;
  grid-row: 3/12;
}
body .attribution {
  font-size: 1em;
  margin: 1.5em 0;
}

@media screen and (max-width: 376px) {
  body {
    margin: auto;
    font-family: "Spartan", sans-serif;
    font-size: 15px;
    padding: 0 1.7em;
  }
  body .align {
    text-align: center;
  }
  body .main-container {
    display: inline;
  }
  body .main-container .main-header {
    width: 100%;
  }
  body .header {
    width: 100%;
  }
  body .header .main-title {
    text-align: center;
    color: #502050;
    font-size: 2em;
    font-weight: bold;
    margin: 2.5em 1em 1em 1em;
  }
  body .content {
    width: 100%;
    margin-bottom: 2.5em;
  }
  body .content .content-paragraph {
    margin: 3px;
    font-size: 16px;
    font-weight: 500;
    color: #937b92;
    line-height: 25px;
  }
  body .grid-container {
    display: inline;
  }
  body .rating-section {
    display: flex;
    flex-direction: column;
    background-color: #f7f2f7;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 10px;
  }
  body .rating-section p {
    margin-left: 0;
    margin-top: 0.7em;
    color: #502050;
    font-weight: 700;
  }
  body .section-buyer-review {
    display: inline;
  }
  body .buyer-review {
    background-color: #502050;
    padding: 2.5em 2.1em;
    margin-bottom: 1em;
    border-radius: 10px;
  }
  body .buyer-review .name-buyer {
    display: flex;
    align-items: center;
    margin-bottom: 1.7em;
  }
  body .buyer-review .name-buyer img {
    border-radius: 50%;
    width: 42px;
    margin-right: 25px;
  }
  body .buyer-review .name-buyer .text-container .white-text {
    color: white;
  }
  body .buyer-review .name-buyer .text-container .pink-text {
    margin-top: 0.3em;
    color: #ee68a4;
    opacity: 0.5;
    font-weight: 300;
  }
  body .buyer-review .main-content-white {
    color: white;
    opacity: 0.8;
    line-height: 25px;
    font-size: 12.5px;
  }
  body .first {
    margin-top: 3.5em;
  }
  body .attribution {
    font-size: 1em;
    margin: 1.5em 0;
  }
}

/*# sourceMappingURL=main.css.map */
